nav {
    background-color: #282c34;
    padding: 1rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

li {
    color: white;
}

a {
    color: #61dafb;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
